<div class="box" >
<h2>Login</h2>
<div class="Form-group inputBox" >
    <input type="text" class="form-control" placeholder="username" aria-label="username" aria-describedby="basic-addon1" name ="username">
</div>
<div class="Form-group inputBox">
    <input type="password" class="form-control" placeholder="password" aria-label="Email" aria-describedby="basic-addon1"name ="password" >
</div>
<div class="Form-group inputBox">
<button type="button" (click)="gotoHome()">login</button>
</div>
</div>