

*{
    font-family: play;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background : rgba(0,0,0,0,4);
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0,1);
}
.box h2{
    margin: 0 0 30px;
    padding: 0;
    color:red;
    text-align: center;
    margin-right: 130px;

    
}
.box .inputBox{
    width: 100px;
    padding: 10px 0 ;
    font-size: 16px;
    color: black;
    margin-bottom: 20px ;

    border:none;
    border-bottom: 1px solid #fff;
    outline: transparent;
 
}
.box .inputBox label{
    position: absolute;
    top:0;
    left:0;
    padding:10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    pointer-events: none;
    transition: 0.5s;
}