<h1>Student Registration</h1>

<div class="inputbox">
    <label>student first name:</label>
     <input type ="text">

</div>
<br>
<div class="inputbox">
    <label>student last name:</label>
     <input type ="text">

</div>
<br>
<div class="form-check form-check-inline inputbox">
    <label> Are You Married : </label>
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
    <label class="form-check-label" for="inlineRadio1">Yes</label>
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
    <label class="form-check-label" for="inlineRadio2">No</label>
  </div>

  <br/>
  <div class="Form-group   inputbox" >
   <label> Qualification : </label>
    <select class="form-select" id="inputGroupSelect01"name ="course" >
      <option selected>Degree</option>
      <option selected>BTech</option>
      <option selected>MTech</option>
      <option selected>MBA</option>
      <option selected>MCA</option>
    
    </select>
</div>

    <br>
    <div class="form-check    inputbox">
        <label> Technical Skills : </label>
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" name ="Remember" >
        <label class="form-check-label" for="flexCheckDisabled">
          C++
        </label>
    </div>
    <div class="form-check  inputbox">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" name ="Remember" >
        <label class="form-check-label" for="flexCheckDisabled">
        JAVA
        </label>
    </div>
    <div class="form-check inputbox">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" name ="Remember" >
        <label class="form-check-label" for="flexCheckDisabled">
          HTML
        </label>
    </div>
    <div class="form-check inputbox">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" name ="Remember" >
        <label class="form-check-label" for="flexCheckDisabled">
          ANGULAR
        </label>
    </div>
 <div class="inputbox">
     <br>
     <label>Mobile number : </label>
     <input type ="text">
 </div>
 <br>
 <div class=" inputbox">
<button type="button" (click) ="onevent()">submit</button>
 </div>


 
 
